{% include 'header.html' %}

<div id="content-wrap">
  <div class="row">

    <div id="main" class="twelve columns">
        <form>
            <article class="entry">

                <header class="entry-header">

                    <h2 class="entry-title">
                        <label for="post_title">Title</label>
                        <input type="text" id="post_title" name="post_title">
                    </h2>

                    <div class="entry-meta">
                        <label for="author_name">Author Name</label>
                        <input type="text" id="author_name" name="author_name">
                        <label for="author_email">Author Email Address</label>
                        <input type="email" id="author_email" name="author_email">
                    </div>

                </header>

                <div class="entry-content">
                    <label for="post_body">Post Body</label>
                    <textarea id="post_body" name="post_body"></textarea>
                </div>

        </article>
      </form>
    </div>
  </div>

</div>

<script type="text/javascript">

</script>
{% include 'footer.html' %}