{% include 'header.html' %}

<!-- Main Quill library -->
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script src="https://cdn.quilljs.com/1.3.6/quill.min.js"></script>

<!-- Theme included stylesheets -->
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<link href="https://cdn.quilljs.com/1.3.6/quill.bubble.css" rel="stylesheet">
<style>
  #form-container {
  width: 800px;
}

.row_ {
  margin-top: 15px;
}
.row_.form-group {
  padding-left: 15px;
  padding-right: 15px;
}
.btn {
  margin-left: 15px;
}

.change-link {
  background-color: #000;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  color: #fff;
  opacity: 0.8;
  padding: 4px;
  position: absolute;
  text-align: center;
  width: 150px;
}
.change-link:hover {
  color: #fff;
  text-decoration: none;
}

img {
  width: 150px;
}

#editor-container {
  height: 130px;
}
</style>
   <div id="content-wrap">

    <div class="row">

<div id="form-container" class="container">
  <form>
    <div class="row_">
      <div class="col-xs-4">
        <img class="img-rounded" src="https://www.nationalgeographic.com/content/dam/animals/thumbs/rights-exempt/mammals/h/horse_thumb.jpg">
        <a class="change-link" href='#'>Change picture</a>
      </div>
      <div class="col-xs-8">
        <div class="form-group">
          <label for="author_name">Author Name</label>
          <input class="form-control" name="author_name" type="text" value="">
        </div>
        <div class="form-group">
          <label for="author_email">Author Email</label>
          <input class="form-control"  name="author_email" type="text" value="">
        </div>
        <div class="form-group">
          <label for="post_title">Post Title</label>
          <input class="form-control"  name="post_title" type="text" value="">
        </div>
      </div>
    </div>
    <div class="row_ form-group">
      <label for="post_body">Post Body</label>
      <input name="post_body" type="hidden">
      <div id="editor-container">
      </div>
    </div>
    <div class="row_">
      <button class="btn btn-primary" onclick="submitForm()">Submit Post</button>
    </div>
  </form>
</div>

</div>
</div>

<script type="text/javascript">
  var quill = new Quill('#editor-container', {
  modules: {
    toolbar: [
      ['bold', 'italic'],
      ['link', 'blockquote', 'code-block', 'image'],
      [{ list: 'ordered' }, { list: 'bullet' }]
    ]
  },
  placeholder: 'Compose an epic...',
  theme: 'snow'
});

function submitForm() {
  var form = document.querySelector('form');
  var postBody = document.querySelector('input[name=post_body]');
  postBody.value = JSON.stringify(quill.getContents());

  console.log("Submitted", $(form).serialize(), $(form).serializeArray());
  $.post("/submit_post", $(form).serialize(), $(form).serializeArray())
}


</script>
{% include 'footer.html' %}